<nav class="navbar">
  <ul class="left-menu">
    <li>
      <a href="#">Blog</a>
    </li>
    <li>
      <a href="#" [routerLink]="['/']">Home</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <a href="#" [routerLink]="['/blog']">Blog</a>
    </li>
    <li *ngIf="authService.isLoggedIn()">
      <a href="#" [routerLink]="['/add']">Add post</a>
    </li>
  </ul>
  <div class="padding"></div>
  <ul class="right-menu" *ngIf="!authService.isLoggedIn()">
      <li>
        <a href="#" [routerLink]="['/login']">Login</a>
      </li>
      <li>
        <a href="#" [routerLink]="['/signup']">Sign up</a>
      </li>
  </ul>
  <ul class="right-menu" *ngIf="authService.isLoggedIn()">
    <li>
      <a href="#" (click)="signOut()">Logout</a>
    </li>
  </ul>
</nav>