<div class="my-form-container">
    <div class="container-title">add-new-post.exe </div>
    <form>
        <div class="form-group">
            <label for="title">Post title</label>
            <input type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Your title goes here...">
            <small id="titleHelp" class="form-text text-muted">✨ Be creative! </small>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="description" class="form-control" id="description" placeholder="Tell us about your post...">
        </div>
        <div class="form-group">
            <label for="imageurl">Image URL</label>
            <input type="imageurl" class="form-control" id="imageurl" placeholder="Provide link for your image...">
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>


